body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.swot-grid,
.swot-editor {
	padding: 20px;
}

.swot-item {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
}

.swot-item h2 {
	margin: 0;
	font-size: 20px;
	color: #333;
}

.swot-item p {
	margin: 0;
	color: #666;
}

.swot-editor {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.swot-editor h2,
.swot-editor p {
	margin: 0;
	margin-bottom: 20px;
}

.swot-column {
	margin-bottom: 20px;
	position: relative; /* Added relative positioning */
}

.swot-column h3 {
	margin: 0;
	font-size: 18px;
	color: #333;
}

.swot-column textarea {
	width: calc(90%); /* Adjusted width to accommodate margin */
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	resize: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 10px; /* Added margin */
	background-color: rgba(
		255,
		255,
		255,
		0.8
	); /* Semi-transparent background */
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}

button:focus {
	outline: none;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
	opacity: 0;
	transition: opacity 0.3s;
}

/* Show the tooltip text when hovering */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Colors for SWOT sections */
.swot-column:nth-child(odd) {
	background-color: #bdecb6; /* Light green for odd numbered sections */
}

.swot-column:nth-child(even) {
	background-color: #ffd9d9; /* Light red for even numbered sections */
}
